<div class="container col-md-10 offset-md-1 col-lg-8 offset-lg-2">
  <div class="widget change-password">
    <h3 class="widget-header user"><%= t '.title' %></h3>
    <%= render 'form', { board: @board } %>
  </div>
</div>
